<!DOCTYPE html>
<html>
<head>
    <title>忘记密码</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/upload.css">
    <link rel="stylesheet" type="text/css" href="plugin/layui/css/layui.css">
    <link href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg" rel="icon" type="image/x-icon" />
    <link href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg" rel="shortcut icon" type="image/x-icon" />    <script src="js/jquery-3.2.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="js/base_nopagination.js" type="text/javascript" charset="utf-8"></script>
    <script src="plugin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controller/baseController.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/service/userService.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controller/userController.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="titleName">
    <h3>忘记密码</h3>
    <p>设置密码</p>
</div>

<div class="ask container" ng-app="bookshop" ng-controller="userController">
    <form class="upload-form" method="post">
        <p>
            <span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            输&nbsp;&nbsp;&nbsp;&nbsp;入&nbsp;&nbsp;&nbsp;&nbsp;邮&nbsp;&nbsp;&nbsp;&nbsp;箱：<input type="text" name="email"
                                                                                                ng-model="entity.email" onfocus="clearemailmsg()"> &nbsp;&nbsp;
            <button ng-click="sendCode(this)" style="width: 90px;font-size: 13px" ng-disabled="isDisable">{{countdown}}</button><br>
            <span id="emailmsg" style="font-size: 13px;color: red;margin-left: 27%"></span>
        </p>
        <p>
            <span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            验&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<input
                type="text" name="code" ng-model="code" onfocus="clearcodemsg()"> <br>
            <span id="codemsg"
                  style="font-size: 13px;color: red;margin-left: 27%"></span>
            <br>
        </p>
        <p></a>
            <span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            输&nbsp;入&nbsp;新&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" ng-model="entity.password" onfocus="clearpassmsg()">
            <br>
            <span id="passmsg"
                  style="font-size: 13px;color: red;margin-left: 27%"></span>
            <br>
        </p>
        <p>
            <span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            再&nbsp;次&nbsp;输&nbsp;入&nbsp;密&nbsp;码：<input type="password" name="repassword" ng-model="repassword" onfocus="clearrepassmsg()"><br>
            <span id="repassmsg"
                  style="font-size: 13px;color: red;margin-left: 27%"></span>
        </p>
        <input type="button" class="submit-btn" name="book-submit" value="提交" ng-click="updatePassword()">
    </form>
</div>
<footer>
    <a href="#">©2016-2020 二手书交易</a>
    <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
</body>
</html>

