<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/upload.css">
    <link rel="stylesheet" type="text/css" href="plugin/layui/css/layui.css">
    <link href="http://gofastdfs.yancq.top:10342/group1/logo/logo.jpg" rel="icon" type="image/x-icon" />
    <link href="http://gofastdfs.yancq.top:10342/group1/logo/logo.jpg" rel="shortcut icon" type="image/x-icon" />
    <script src="js/jquery-3.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="js/base_nopagination.js" type="text/javascript" charset="utf-8"></script>
    <script src="plugin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controller/baseController.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/service/userService.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controller/userController.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="titleName">
    <h3>注册</h3>
    <p>填写个人信息</p>
</div>

<div class="container" ng-app="bookshop" ng-controller="userController">
    <form class="upload-form" method="post">
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input
                type="text" name="studentid" ng-model="entity.studentId" ng-blur="checkStudentId()" onfocus="clearstudentidmsg()">&nbsp;&nbsp;
            <span id="studentIdmsg" style="font-size: 13px;color: red"></span>
        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            输&nbsp;&nbsp;&nbsp;&nbsp;入&nbsp;&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password"
                                                                                                name="password"
                                                                                                ng-model="entity.password"
                                                                                                onfocus="clearpassmsg()">&nbsp;&nbsp;
            <span id="passmsg" style="font-size: 13px;color: red"></span>
        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            再&nbsp;次&nbsp;输&nbsp;入&nbsp;密&nbsp;码：<input type="password" name="repassword" ng-model="repassword"
                                                        onfocus="clearrepassmsg()">&nbsp;&nbsp;
            <span id="repassmsg" style="font-size: 13px;color: red"></span>
        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：<input
                type="text" name="email" ng-model="entity.email" ng-blur="checkEmail()" onfocus="clearemailmsg()">&nbsp;&nbsp;
            <span id="emailmsg" style="font-size: 13px;color: red"></span>
        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<input
                type="text" name="name" ng-model="entity.name" onfocus="clearnamemsg()">&nbsp;&nbsp;
            <span id="namemsg" style="font-size: 13px;color: red"></span>
        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
            <select name="sex" ng-model="entity.sex" onfocus="clearsexmsg()">
                <option value="" selected="selected">--请选择性别--</option>
                <option value="m">男</option>
                <option value="f">女</option>
            </select>&nbsp;&nbsp;
            <span id="sexmsg" style="font-size: 13px;color: red"></span>
        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            联&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系：<input
                type="text" name="tel" ng-model="entity.tel" onfocus="cleartelmsg()">&nbsp;&nbsp;
            <span id="telmsg" style="font-size: 13px;color: red"></span>

        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            住&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：<input
                type="text" name="address" ng-model="entity.address" onfocus="clearaddressmsg()">&nbsp;&nbsp;
            <span id="addressmsg" style="font-size: 13px;color: red"></span>
        </p>
        <p>
            <span class="name-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            年&nbsp;&nbsp;&nbsp;&nbsp;级&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;专&nbsp;&nbsp;&nbsp;&nbsp;业：<input type="text"
                                                                                                      name="major"
                                                                                                      ng-model="entity.major"
                                                                                                      onfocus="clearmajormsg()">&nbsp;&nbsp;
            <span id="majormsg" style="font-size: 13px;color: red"></span>
        </p>
        <input type="button" class="submit-btn" name="book-submit" value="提交" ng-click="register()">
    </form>
</div>
<footer>
    <a href="#">©2016-2020 二手书交易</a>
    <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
</body>
</html>
