<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>求书详情</title>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../css/askBookDetail.css">
    <link rel="stylesheet" type="text/css" href="../../plugin/layui/css/layui.css">
    <link href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg" rel="icon" type="image/x-icon"/>
    <link href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg" rel="shortcut icon" type="image/x-icon"/>
    <script src="../../js/jquery-3.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="../../js/base_nopagination.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../plugin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/controller/baseController.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/service/askBookService.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/controller/askBookController.js" type="text/javascript" charset="utf-8"></script>
    <script src='../../plugin/Valine.min.js'></script>
</head>
<body ng-app="bookshop" ng-controller="askBookController" ng-init="findAskBookById()">
<nav class="navbar">
    <div class="nav-menu">
        <ul class="menu">
            <li><a href="../index.html">首页</a></li>
            <li><a href="../goodBookList.html">书籍良品</a></li>
            <li><a href="../askBookList.html">求书区</a></li>
            <li><a href="#">服务区</a></li>
        </ul>
    </div><!-- nav-menu -->

    <form class="nav-search">
        <input type="search" class="searchIn" ng-model="keyword" placeholder="关键字..." id="tip">
        <button class="search-logo"><img src="../../img/search2.png" ng-click="doSearch()"></button>
    </form>

    <div class="nav-info">
        <a href="../cart.html" class="bookshelf">&nbsp;购物车</a>
        <a href="../order-send.html" class="bookshelf">&nbsp;我的订单</a>
        <a href="../myBookshelf.html" class="bookshelf">&nbsp;我的书架</a>
        <a href="javascript:void (0)" class="username">&nbsp;|&nbsp;{{username}}</a>
        <a ref="javascript:void(0)" class="logout" ng-click="logout()">[ 退 出 ]</a>
    </div> <!-- nav-info-end -->
</nav>

<div class="container">
    <div id="book-pic">
        <div class="book-big">
            <img src="http://cn-zz-bgp.sakurafrp.com:10341/group1/image/30.jpg">
        </div>
    </div> <!-- book-pic-end -->

    <div id="book-info">
        <span class="book-name">围城</span>
        <span class="book-publish">钱钟书 著 / 人民文学出版社</span>
        <span class="book-price">
				<p>商品描述<a class="book-desc">用幽默度过艰难时世，以智趣造就岁月风华。</a></p>
				<p>上传时间<a class="upload-time">2020-04-13</a></p>
        </span>
    </div> <!-- book-info-end -->

    <div id="seller-info">
        <a class="seller-name">wang</a>
        <span class="seller-span2">
				<p>电话<a class="seller-num">zhao</a></p>
				<p>住址<a class="seller-adr">22#A425</a></p>
				<p>好评率<a class="seller-appraise">90.5%</a></p>
			</span>
    </div><!-- seller-info-end -->

    <div id="vcomments" style="width: 80%"></div>
</div><!--  container -->
<footer>
    <a href="#">©2016-2020 二手书交易</a>
    <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
<script>
    new Valine({
        el: '#vcomments',
        appId: 'GYpmeOeddxKgmIlKJ0D0bCFr-gzGzoHsz',
        appKey: 'SxvSiWTbncaO3KKKN7jUncrq',
        avatar: 'wavatar'
    })
</script>
</body>
</html>