<!DOCTYPE html>
<html>
<head>
    <title>修改密码</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/upload.css">
    <link rel="stylesheet" type="text/css" href="../plugin/layui/css/layui.css">
    <link href="http://bookshop.yancq.top:10342/group1/logo/logo.jpg" rel="icon" type="image/x-icon"/>
    <link href="http://bookshop.yancq.top:10342/group1/logo/logo.jpg" rel="shortcut icon" type="image/x-icon"/>
    <script src="../js/jquery-3.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="../js/base_nopagination.js" type="text/javascript" charset="utf-8"></script>
    <script src="../plugin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/controller/baseController.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/service/userService.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/controller/userController.js" type="text/javascript" charset="utf-8"></script>
</head>
<body ng-app="bookshop" ng-controller="userController">
<nav class="navbar">
    <div class="nav-menu">
        <ul class="menu">
            <li><a class="active" href="index.html">首页</a></li>
            <li><a href="goodBookList.html">书籍良品</a></li>
            <li><a href="askBookList.html">求书区</a></li>
            <li><a href="#">服务区</a></li>
        </ul>
    </div><!-- nav-menu -->

    <form class="nav-search">
        <input type="search" class="searchIn" placeholder="搜图书...">
        <button class="search-logo"><img src="../img/search2.png"></button>
    </form>

    <div class="nav-info">
        <a href="cart.html" class="bookshelf">&nbsp;购物车</a>
        <a href="order-send.html" class="bookshelf">&nbsp;我的订单</a>
        <a href="myBookshelf.html" class="bookshelf">&nbsp;我的书架</a>
        <a href="#" class="username">&nbsp;|&nbsp;{{username}}</a>
        <a href="javascript:void(0)" class="logout" ng-click="logout()">[ 退 出 ]</a>
    </div> <!-- nav-info-end -->
</nav>

<div class="titleName">
    <h3>编辑</h3>
    <p>修改密码</p>
</div>
<div class="ask container">
    <form class="upload-form" method="post">
        <p>
            <span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            输&nbsp;入&nbsp;旧&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码：<input type="password" name="oldpassword"
                                                                         ng-model="oldPassword"
                                                                         onfocus="clearoldpassmsg()"
                                                                         ng-blur="checkOldPassword()">
            <br>
            <span id="oldpassmsg"
                  style="font-size: 13px;color: red;margin-left: 27%"></span>
            <br>
        </p>
        <p>
            <span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            输&nbsp;入&nbsp;新&nbsp;&nbsp;&nbsp;密&nbsp;&nbsp;&nbsp;码：<input type="password" name="password"
                                                                         ng-model="entity.password"
                                                                         onfocus="clearpassmsg()">
            <br>
            <span id="passmsg"
                  style="font-size: 13px;color: red;margin-left: 27%"></span>
            <br>
        </p>
        <p>
            <span class="press-icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            再&nbsp;次&nbsp;输&nbsp;入&nbsp;密&nbsp;码：<input type="password" name="repassword" ng-model="repassword"
                                                        onfocus="clearrepassmsg()"><br>
            <span id="repassmsg"
                  style="font-size: 13px;color: red;margin-left: 27%"></span>
        </p>
        <input type="button" class="submit-btn" name="book-submit" value="提交" ng-click="editPassword()">
    </form>
</div>
<footer style="position: absolute;bottom: 0;width: 100%">
    <a href="#">©2016-2020 二手书交易</a>
    <a href="#">意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</a>
</footer>
</body>
</html>

