<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单详情</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/webbase.css">
    <link rel="stylesheet" type="text/css" href="../css/orderInfo.css">
    <link rel="stylesheet" type="text/css" href="../plugin/layui/css/layui.css">
    <link href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg" rel="icon" type="image/x-icon" />
    <link href="http://cn-zz-bgp.sakurafrp.com:10341/group1/logo/logo.jpg" rel="shortcut icon" type="image/x-icon" />
    <script src="../js/jquery-3.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
    <script src="../js/base_nopagination.js" type="text/javascript" charset="utf-8"></script>
    <script src="../plugin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/controller/baseController.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/service/orderService.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/controller/orderController.js" type="text/javascript" charset="utf-8"></script>
    <style>
        #wrap img {
            width: 50px;
            height: 60px;
        }

        #wrap th {
            vertical-align: middle;
            text-align: center;
        }

        #wrap td {
            vertical-align: middle;
            text-align: center;
        }
    </style>
</head>
<body ng-app="bookshop" ng-controller="orderController" ng-init="getSelectCartList()">
<nav class="navbar">
    <div class="nav-menu">
        <ul class="menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="goodBookList.html">书籍良品</a></li>
            <li><a href="askBookList.html">求书区</a></li>
            <li><a href="#">服务区</a></li>
        </ul>
    </div><!-- nav-menu -->

    <form class="nav-search" method="post">
        <input type="search" class="searchIn" placeholder="搜图书...">
        <button type="submit" id="search-button" class="search-logo"><img src="../img/search2.png"></button>
    </form>

    <div class="nav-info">
        <a href="cart.html" class="bookshelf">&nbsp;购物车</a>
        <a href="order-send.html" class="bookshelf">&nbsp;我的订单</a>
        <a href="myBookshelf.html" class="bookshelf">&nbsp;我的书架</a>
        <a href="#" class="username">&nbsp;|&nbsp;{{username}}</a>
        <a href="#" class="logout">[ 退 出 ]</a>
    </div> <!-- nav-info-end -->
</nav>
<!--head-->

<div class="cart py-container">
    <!--主内容-->
    <div class="checkout py-container">
        <div class="checkout-tit">
            <h2 class="tit-txt">填写并核对订单信息</h2>
        </div>
        <div class="checkout-steps">
            <div class="step-tit">
                <h5>收件人信息</h5>
            </div>
            <div class="step-cont">
                <div class="addressInfo">
                    <ul class="addr-detail">
                        <li class="addr-item">
                            <div>
                                <div class="con address">
                                    收件人：{{user.name}}<br>
                                    收货地址：{{user.address}}<br>
                                    联系电话：{{user.tel}}<br>
                                    年级专业：{{user.major}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hr"></div>

            </div>
            <div class="hr"></div>
            <!--支付和送货-->
            <div class="payshipInfo">
                <div class="step-tit">
                    <h5>支付方式</h5>
                </div>
                <div class="step-cont">
                    <ul class="payType">
                        <li class="selected">扫码付款</li>
                    </ul>
                </div>
                <div class="hr"></div>
                <div class="step-tit">
                    <h5>送货清单</h5>
                </div>
                <div class="step-cont">
                    <ul class="send-detail">
                        <li>
                            <div class="sendGoods">
                                <ul class="yui3-g" ng-repeat="entity in entityList">
                                    <li class="yui3-u-1-6">
                                        <span><img width="100px" height="130px" ng-src="{{entity.image}}"/></span>
                                    </li>
                                    <li class="yui3-u-7-12">
                                        <div class="desc">书籍名称：{{entity.name}}{{total}}</div>
                                        <div class="desc">作者：{{entity.author}}</div>
                                        <div class="desc">出版社：{{entity.press}}</div>
                                    </li>
                                    <li class="yui3-u-1-12">
                                        <div class="price">￥{{entity.price.toFixed(2)}}</div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hr"></div>
            </div>

        </div>
    </div>
    <div class="order-summary">
        <div class="static fr">
            <div class="list">
                <span><i class="number">{{total}}&nbsp;&nbsp;</i>件商品</span>
                <div class="list">
                    <span>运费：<em>10</em>元</span>
                </div>
            </div>
        </div>
        <div class="clearfix trade">
            <div class="fc-price">应付金额:　<span class="price">¥{{totalPrice.toFixed(2)}}</span></div>
            <div class="fc-receiverInfo">寄送至:{{user.address}} 收货人：{{user.name}} {{user.tel}}</div>
        </div>
        <div class="submit">
            <a style="background:#cc2b54" class="sui-btn btn-danger btn-xlarge" href="javascript:void (0)"
               ng-click="submitOrder()">提交订单</a>
        </div>
    </div>
    <div class="clearfix footer">
        <div class="py-container">
            <div class="footlink">
                <div class="Mod-service" style="text-align: center">
                    <p>©2016-2020 校园二手书交易</p>
                    <p>意见反馈&nbsp;&nbsp;&nbsp;联系我们&nbsp;&nbsp;&nbsp;隐私权声明&nbsp;&nbsp;&nbsp;使用条款</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
